@font-face {
  font-family: 'F1-regular';
  src: url('fonts/Formula1-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'F1-black';
  src: url('fonts/Formula1-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'F1-bold';
  src: url('fonts/Formula1-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'F1-wide';
  src: url('fonts/Formula1-Wide.ttf') format('truetype');
}
html{
  font-family: F1-regular, sans-serif;
}

body{
  margin:0px;
  padding-top:50px;
  scrollbar-width: thin;
  scrollbar-color: red white;

}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
}

.bg-img{
  filter:grayscale(100%);
  height: 100%;
  width:100%;
  object-fit:scale-down;
  position:relative;
  z-index:1;
}
.page-title-container{
  display:flex;
  justify-content: center;
}
.page-title{
  font-family: F1-bold;
  font-size: 40px;
  background-color: black;
  color: white;
  text-align: center;
  padding:10px 25px 10px 25px;
  position:relative;
  margin-bottom: -35px;
  z-index:2;
}