@font-face {
  font-family: 'F1-regular';
  src: url('fonts/Formula1-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'F1-black';
  src: url('fonts/Formula1-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'F1-bold';
  src: url('fonts/Formula1-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'F1-wide';
  src: url('fonts/Formula1-Wide.ttf') format('truetype');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "F1-regular", sans-serif;
}
.intro{
  height: 100vh;
}
.video-container {
  position: relative;
}
.intro video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.intro h1{
  position: absolute;
  top: 20%;
  left: 50%;
  color: #fff;
  font-size: 60px;
  transform: translate(-50%, -50%);
  padding:20px 100px 20px 100px;
  border-radius: 20px;
  font-family: "F1-bold" ;

}
.section1{
  height: 20vh;
  color: black;
}
.section1 h1{
  padding-top: 35px;
  text-align: center;
  font-size: 60px;
}
.section2{
  height: 100vh;
  color: white;
  background-color: black;
}
.section2 h1{
  padding-top: 300px;
  text-align: center;
  font-size: 60px;
}
.parallaxParent {
  height: 120vh;
  overflow: hidden;
}
.parallaxParent > * {
  height: 200%;
  position: relative;
  top: -100%;
}


/* From Uiverse.io by vnuny */ 
.item-hints {
  --purple: #720c8f;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  padding-right: 170px;
}
.item-hints .hint {
  margin: 150px auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-hints .hint-dot {
  z-index: 3;
  border: 1px solid #ffe4e4;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-transform: translate(-0%, -0%) scale(0.95);
  transform: translate(-0%, -0%) scale(0.95);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.item-hints .hint-radius {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -125px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.item-hints .hint[data-position="1"] .hint-content {
  top: 85px;
  left: 50%;
  margin-left: 56px;
}
.item-hints .hint-content {
  width: 300px;
  position: absolute;
  z-index: 5;
  padding: 35px 0;
  opacity: 0;
  transition: opacity 0.7s ease, visibility 0.7s ease;
  color: #fff;
  visibility: hidden;
  pointer-events: none;
}
.item-hints .hint:hover .hint-content {
  position: absolute;
  z-index: 5;
  padding: 35px 0;
  opacity: 1;
  -webkit-transition: opacity 0.7s ease, visibility 0.7s ease;
  transition: opacity 0.7s ease, visibility 0.7s ease;
  color: #fff;
  visibility: visible;
  pointer-events: none;
}
.item-hints .hint-content::before {
  width: 0px;
  bottom: 29px;
  left: 0;
  content: "";
  background-color: #fff;
  height: 1px;
  position: absolute;
  transition: width 0.4s;
}
.item-hints .hint:hover .hint-content::before {
  width: 180px;
  transition: width 0.4s;
}
.item-hints .hint-content::after {
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
  bottom: 29px;
  left: 0;
  width: 80px;
  content: "";
  background-color: #fff;
  height: 1px;
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.item-hints .hint:hover .hint-content::after {
  opacity: 1;
  visibility: visible;
}
.item-hints .hint[data-position="4"] .hint-content {
  bottom: 85px;
  left: 50%;
  margin-left: 56px;
}
