@font-face {
  font-family: 'F1-regular';
  src: url('fonts/Formula1-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'F1-black';
  src: url('fonts/Formula1-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'F1-bold';
  src: url('fonts/Formula1-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'F1-wide';
  src: url('fonts/Formula1-Wide.ttf') format('truetype');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "F1-regular", sans-serif;
}
.intro{
  height: 100vh;
}
.intro video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.intro h1{
  position: absolute;
  top: 20%;
  left: 50%;
  color: #fff;
  font-size: 60px;
  transform: translate(-50%, -50%);
  padding:20px 100px 20px 100px;
  border-radius: 20px;
  font-family: "F1-bold" ;

}
.section1{
  height: 20vh;
  color: black;
}
.section1 h1{
  padding-top: 35px;
  text-align: center;
  font-size: 60px;
}
.section2{
  height: 100vh;
  color: white;
  background-color: black;
}
.section2 h1{
  padding-top: 300px;
  text-align: center;
  font-size: 60px;
}
.parallaxParent {
  height: 120vh;
  position: relative;
  overflow: hidden;
}
.parallaxParent > * {
  height: 200%;
  position: relative;
  top: -100%;
}
.team-wrapper{
  position: absolute;
  width:100vw;
  height: 120vh;
  z-index:1;
  display: flex;
  align-items: center;
}
