.outer-grid {
  padding: 100px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: 50px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.team-container {
  width: 550px;
  height:350px;
  border: double 4px transparent;
  background-origin: border-box;
  background-clip: padding-box, border-box; 
  border-radius: 0 20px 0 0;
  border-left-style: none;
  border-bottom-style: none;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  transition: padding 0.15s;
  padding-right: 10px;
}

.team-container:hover{

  padding-top:10px;
  
}
hr{
  color:rgba(0,0,0,0.15);
  border-top: 1px solid;
  width:98%;
  margin-left: 0;
}
.pos-container{
  width:100%;
  height:120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:start;
}
.team-name-container{
  
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.driver-container {
  width: 100%;
  height: 150px;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  flex-direction: row;
}

.ranking{
  font-family:F1-black, sans-serif;
  font-size: 42px;
  padding:4px 0 0 0;
}
.points-container{
  display:flex;
  flex-direction: column;
  padding:8px 4px 0 0;
  align-items: end;
}
.points{
  font-family:F1-wide, sans-serif;
  font-size:18px;
  padding:0 0 0 0;
}
.points-txt-container{
  background-color: black;
  border-style:solid;
  border-color: black;
  border-radius: 5px;
  display: flex;
  border-width:1px;
  padding:0;
  height:15px;
  width:70px;
  align-items: center;
  justify-content: center;
  
}
.points-txt-container h3{
  font-size:12px;
  color:white;
  font-family:F1-wide,sans-serif;
  letter-spacing: 0.2px;

}
.line{
  height:38px;
  width:5px;
  align-self: center;
}
.team-name{
  color:black;
  font-family: F1-bold;
  font-size:25px;
  margin-right:10px;
  align-self: center;

}
.car-container{
  width:100%;
  height:140px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.team-logo{
  align-self: top;
}
.team-logo-img{
  height:5em;
}
.team-line{
  display: flex;
  flex-direction: row;
}
.names{
  height: 100%;
  width:35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.driver-photo{
  height:120px;
  width: 120px;
  padding-right: 5px;
}
.driver-name-top, .driver-name-bottom{
  width:100%;
  height: 50%;
  display: flex;
  align-items: center;
}
.driver-name-top{
  justify-content: left;
  margin-left:-100px;
}
.driver-name-bottom{
  justify-content: right;
  margin-right:-100px;
}
.driver-name-top p, .driver-name-bottom p{
  font-family:F1-regular;
  font-size:18px;
}
.driver-name-top strong, .driver-name-bottom strong{
  font-family:F1-bold;
  letter-spacing: 0.5px;
}

.car-img{
  width: 400px;
  align-self: center;
}

.curved-line{
  transform: scale(0.6) translate(-50%, -50%);
  position: absolute;
  top: -10px;
  left: 150px;
  
  transition: top 0.15s;

}.team-container:hover .curved-line {
  top: 0px;

}
