@font-face {
  font-family: 'F1-regular';
  src: url('fonts/Formula1-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'F1-black';
  src: url('fonts/Formula1-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'F1-bold';
  src: url('fonts/Formula1-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'F1-wide';
  src: url('fonts/Formula1-Wide.ttf') format('truetype');
}
body{
  margin:0;
  padding:0;
}

.team-container{
  height: 100vh;
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding:10px;
  margin: 10px;
  z-index: 1;
}
.team-container:before{
  background-color: black;
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}
.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  position:absolute;
  bottom:10px;
  left:0;
  right:0;
  height: 120px; 
}

.slider-content {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 100%; 
}

.slider-item {
  width: 20%;
  height: 100px;
  display: flex;
  font-size: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  filter: grayscale(80%);
  color: white;
  margin: 0 5px;
  border: double 4px transparent;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 20px;
  transition: transform 0.5s ease, filter 0.5s ease;
  justify-content: space-between;
}
.team-logo{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.slider-item p{
  padding: 10px 0 0 10px;
  margin: 0;
  width:15%;
  color:black;
  z-index: 1;
  font-family: "F1-wide";
  align-self: top;
}

.slider-item.highlight {
  filter: grayscale(0%);
  height: 120px; 
}
.item-container{
  height: 100%; 
  width:100%;
  display: flex;
  align-items: center;
  

}
.item-container p{
  font-size: 20px;
  width: 80%;
  text-align: center;
  font-family: "F1-bold";
  position: absolute;
  padding: 0;
  left:50%;
  transform: translate(-50%,0);
  bottom:0;
  margin:70px 0 0 0;
  backdrop-filter: blur(50px) saturate(80%);
}
.item-container img{
  transform: scale(1);
  filter:opacity(50%);
}
.points-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 5px 0 0 ;
  justify-self:right;
  width:15%;

}
.points-container span{
  font-family:F1-wide, sans-serif;
  color:black;
  font-size:10px;
  padding:0 0 0 0;
}
.points-container p{
  font-size:10px;
  background-color: black;
  border-style:solid;
  border-color: black;
  border-radius: 5px;
  display: flex;
  border-width:1px;
  padding:0 5px;
  width:100%;
  height:15px;
  color:white;
  align-items: center;
  justify-content: center;
}
.team-view{
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
  
}
.first-driver-pos{
  width:100%;
  display: flex;
  position: absolute;
  top:0;
  right: 0;
  justify-content: space-between;
}
.second-driver-pos{
  width:100%;
  display: flex;
  position: absolute;
  bottom: 150px;
  left:0;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
.team-pos-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:10px 0 0 20px;
  
  padding: 0;
}
.first-driver{
  display: flex;
  
  height:200px;
  margin:30px 60px 0 0;
  flex-direction: column;
  position: relative;
  justify-content: end;

}
.second-driver{
  display: flex;
  height:200px;
  margin: 0 0 30px 60px;
  flex-direction: column;
  position: relative;
  justify-content: end;
}
.info-img-container{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.pos{
  font-family: "F1-wide";
  margin:0;
  color: white;
  padding: 0;
  font-size: 60px;
}
.pos-txt{
  font-family: "F1-wide";
  margin: 0;
  padding: 0;
  font-size: 30px;
  

}
.driver-name{
  font-family: "F1-wide";
  color: white;
  margin:0;
  font-size:25px;
}
.driver-info{
  z-index: 1;
}
.driver-img{
  height:200px;
  width: 200px;
  position: absolute;
  right:0;
}
.second-driver img{
  left:0;
}
.no-img{
  width:70px;
  height:55px;
}
.flag{
  height:30px;
  width: 48px;
  border-radius: 10px;
}
.team-middle-container{
  position: absolute;
  width: 100%;
  top: 50%;
    left: 50%;
  transform: translate(-50%, -75%);
}
.team-info-container{
  height: 100%;
  display: flex;
  position: relative;
  
}
.team-info{
  display: flex;
  width:50%;
  justify-content: space-between;
  flex-direction: column;
}
.team-pts-container{
  display: flex;
  justify-content: end;
  margin-right: 30px;
}
.team-name-container{
  position: relative;
  display: flex;
  justify-content: center;
}
.team-name-fg{
  font-family: "F1-wide";
  color: white;
  font-size: 35px;
  z-index: 1;
  text-align: left;
  margin: 0;
}
.team-name-bg{
  font-family: "F1-wide";
  color:black;
  position:absolute;
  top:-15px;
  left:250px;
  margin: 0;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
  font-size: 35px;
}
.team-pts{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-pts-val{
  font-family: "F1-wide";
  color:white;
  font-size: 35px;
  margin: 0;
  
}
.team-pts-txt{
  font-family: "F1-wide";
  color:black;
  margin: 0;
  font-size: 35px;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}
.car-img{
  width:600px;
  height:178.06px;
  margin:20px 0 0 50px;
  

}
.mid-line{
  position: absolute;
  top: 85%;
  left:25%;
  z-index: 2;
  transform: translate(-50%, -50%);
  transform: scale(1.8);
  
}





