@font-face {
  font-family: 'F1-regular';
  src: url('../fonts/Formula1-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'F1-black';
  src: url('../fonts/Formula1-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'F1-bold';
  src: url('../fonts/Formula1-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'F1-wide';
  src: url('../fonts/Formula1-Wide.ttf') format('truetype');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "F1-regular", sans-serif;
  overflow-x: hidden;
}
.intro{
  height: 100vh;
}
.intro video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.intro h1{
  position: absolute;
  top: 20%;
  left: 50%;
  color: #fff;
  font-size: 60px;
  transform: translate(-50%, -50%);
  padding:20px 100px 20px 100px;
  border-radius: 20px;
  font-family: "F1-bold" ;

}
.intro a{
  position: absolute;
  background-image: linear-gradient(144deg,#AF40FF, #150775 50%,#7b0505);
  padding:10px 20px;
  border-radius: 5px;
  color:white;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section1{
  height: 20vh;
  color: black;
}
.section1 h1{
  padding-top: 35px;
  text-align: center;
  font-size: 60px;
}
.section2{
  height: 100vh;
  color: white;
  background-color: black;
   
}
.section2 h1{
  padding-top: 30px;
  text-align: center;
  font-size: 60px;
  margin-bottom:30px;
}



.parallaxParent {
  height: 120vh;
  position: relative;
  overflow: hidden;
}
.parallaxParent > * {
  height: 200%;
  position: relative;
  top: -100%;
}
.team-wrapper{
  position: absolute;
  width:100vw;
  height: 120vh;
  z-index:1;
  display: flex;
  align-items: center;
}
.text-wrapper{
  position: absolute;
  width:100%;
  height: 120vh;
  background-color: black;
  z-index:1;
  opacity: 0.9;
  padding:100px;
  
}
.text-wrapper h1{
  font-family: F1-bold;
  color:white;
}
.text-wrapper p{
  font-family: F1-regular;
  color:grey;
}
.text-wrapper h3{
  color:white;
}
.text-wrapper span{
  background: linear-gradient(to right ,#E10600, #FFFFFF);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 30px;
}
.race-stripe-container {
  position: relative;
  overflow: hidden;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.race-image {
  width: 800px;
  height: 100%;
  object-fit: cover;
}
.pit-wrapper {
  width: 100%;
  height: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap:100px;
}

.pit-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/images/f1_photos/pit_crew.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3; 
  z-index: 1; 
}

.pit-wrapper > * {
  position: relative;
  z-index: 2;
}


.crew-mem{
  width:200px;
  border-radius: 10px;
  background-color: black;
  opacity: 0.8;
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* From Uiverse.io by CYBWEBALI */ 
.git-tag {
  margin-top: 20px;
  display: grid;
  place-items: center;
  background: #e3edf7;
  padding: 1.4em;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
	      -6px -6px 10px -1px rgba(255,255,255,0.7);
  border: 1px solid rgba(0,0,0,0);
  cursor: pointer;
  transition: transform 0.5s;
}

.git-tag:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
	      inset -4px -4px 6px -1px rgba(255,255,255,0.7),
	      -0.5px -0.5px 0px rgba(255,255,255,1),
	      0.5px 0.5px 0px rgba(0,0,0,0.15),
	      0px 12px 10px -10px rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.1);
  transform: translateY(0.5em);
}

.git-tag svg {
  transition: transform 0.5s;
}

.git-tag:hover svg {
  transform: scale(0.9);
  fill: #333333;
}

